.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.logoContainer img {
  width: clamp(200px, 50vw, 400px);
  height: auto;
  object-fit: contain;
}

.line {
  width: 100%;
  border-bottom: 4px dotted #010101;
}
